html, body {
  background-color: #fff;
  .container {
    max-width: 95%;
    width: 100%;
    .logo img {
      max-width: 200px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .currentUser {
      margin-top: 75px;
    }
    .playlistSettingsCol {
      height: 87px;
    }
  }
  .btn, .btn-large {
    background: #6598B8;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
