nav {
  // background-color: pink;
  position: relative;
  .avatar {
    display: flex;
    justify-content: center;
    position: relative;
    a {
      display: flex;
      align-items: center;
      img {
        max-width: 40px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
  }
}
