.currentUser {
  margin-top: 75px;
}
.playlistSettingsCol {
  height: 87px;
}
.playlist-con {
  height: 65vh;
  overflow-y: scroll;
  & > div {
    margin-right: 0;
    .track-info p {
      margin-top: 0;
    }
  }
}
.queue-con {
  overflow: hidden;
}
