.header {
  background: url("../img/landing-plain-bg.jpg");
  background-size: cover;
  background-position: center;
  .progress-bar {
    height: 15px;
    width: 200px;
    border: 1px solid white;
    margin: 0 auto 10px auto;
    position: relative;
    span {
      position: absolute;
      height: 100%;
      background: #38c172;
      width: 0%;
      left: 0;
    }
  }
}
.queue-list {
  .row {
    &:first-child {
      background: #f66d9b !important;
    }
    &:nth-child(2) {
      background-color: #38c172 !important;
    }
  }
}
