.header {
  background: url("../img/landing-plain-bg.jpg");
  background-size: cover;
  background-position: center;
}
.queue-list {
  .row {
    &:first-child {
      background: #f66d9b !important;
    }
    &:nth-child(2) {
      background-color: #38c172 !important;
    }
  }
}
